In [7]:
# DemoPandas.ipynb
# ipythonnotebook ==> 주피터 노트북 
from pandas import Series, DataFrame
import pandas as pd 

#시리즈 객체는 하나의 컬럼 데이터 
myCampus = Series([100,200,300,400,500], 
index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04","2024-10-05"])
myCampus

2024-10-01    100
2024-10-02    200
2024-10-03    300
2024-10-04    400
2024-10-05    500
dtype: int64

In [8]:
#슬라이싱
myCampus["2024-10-02"]

200

In [9]:
#데이터프레임: 다중의 행과 열 
data = {"col1":[1,2], "col2":[3,4]}
frame1 = DataFrame(data=data, index=["2024-10-01","2024-10-02"])
frame1

            col1  col2
2024-10-01     1     3
2024-10-02     2     4

In [10]:
#컬럼 슬라이싱
frame1["col2"]

2024-10-01    3
2024-10-02    4
Name: col2, dtype: int64

In [11]:
#행 슬라이싱: .loc속성 
frame1.loc["2024-10-02"]

col1    2
col2    4
Name: 2024-10-02, dtype: int64

In [12]:
data = {"foreigner":[1,2,3,4,5,6], 
        "sratio":[10,20,30,40,50,60],
        "org":[100,200,300,400,500,600],
        "sprice":[1,2,3,4,5,6],
        "private":[10,20,30,40,50,60]
}

#데이터프레임으로 로딩
frame2 = DataFrame(data=data)
#frame2 
#frame2.shape  
frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   foreigner  6 non-null      int64
 1   sratio     6 non-null      int64
 2   org        6 non-null      int64
 3   sprice     6 non-null      int64
 4   private    6 non-null      int64
dtypes: int64(5)
memory usage: 368.0 bytes

In [15]:
#컬럼의 순서 지정
frame3 = DataFrame(data, 
columns=["foreigner","private","org","sratio","sprice"])

#컬럼 슬라이싱
frame3["private"] 
print(type(frame3["private"] ))

<class 'pandas.core.series.Series'>

In [20]:
#인덱스를 수정 
frame4 = DataFrame(data, 
columns=["foreigner","private","org","sratio","sprice"],
index=["2024-10-01","2024-10-02","2024-10-03","2024-10-04",
    "2024-10-05","2024-10-06"])

#행을 슬라이싱: location속성 
#frame4.loc["2024-10-02"] 
frame4

            foreigner  private  org  sratio  sprice
2024-10-01          1       10  100      10       1
2024-10-02          2       20  200      20       2
2024-10-03          3       30  300      30       3
2024-10-04          4       40  400      40       4
2024-10-05          5       50  500      50       5
2024-10-06          6       60  600      60       6

In [21]:
frame4.T

,2024-10-01,2024-10-02,2024-10-03,2024-10-04,2024-10-05,2024-10-06
foreigner,1,2,3,4,5,6
private,10,20,30,40,50,60
org,100,200,300,400,500,600
sratio,10,20,30,40,50,60
sprice,1,2,3,4,5,6